<div class="space-y-12 mt-12">
  <div class="flex flex-col w-full">
    <div class="pb-4 mb-4 border-b border-gray-200">
      <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
        <h3 class="ml-2 mt-2 text-xl leading-6 font-medium text-gray-900">Stats</h3>
      </div>
    </div>

    <div>
      <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <li class="col-span-1 flex shadow-sm rounded-md">
          <div class="flex-1 flex items-center justify-between border border-gray-200 bg-white rounded-md truncate">
            <div class="flex-1 px-4 py-2 text-base truncate space-y-2">
              <a href="#" class="text-gray-900 font-medium hover:text-gray-600">Prompts</a>
              <p class="text-gray-500">
                <%= Prompt.all.count %>
              </p>
            </div>
          </div>
        </li>

        <li class="col-span-1 flex shadow-sm rounded-md">
          <div class="flex-1 flex items-center justify-between border border-gray-200 bg-white rounded-md truncate">
            <div class="flex-1 px-4 py-2 text-base truncate space-y-2">
              <a href="#" class="text-gray-900 font-medium hover:text-gray-600">Sessions</a>
              <p class="text-gray-500">
                <%= @active_sessions.count %>
              </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col w-full">
    <div class="pb-4 mb-4 border-b border-gray-200">
      <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
        <h3 class="ml-2 mt-2 text-xl leading-6 font-medium text-gray-900">Recent Prompts</h3>
      </div>
    </div>

    <div>
      <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-2">
        <% @prompts.each do |prompt| %>
          <li class="col-span-1 flex shadow-sm rounded-md">
            <div class="flex-1 flex border border-gray-200 bg-white rounded-md">
              <div class="flex-1 flex flex-col px-4 py-2 text-base space-y-2">
                <p class="grow text-gray-900">
                  <%= prompt.full_prompt %>
                </p>
                <p class="text-gray-500 text-sm hover:text-gray-600">
                  <%= "#{time_ago_in_words(prompt.published_at)} ago" if prompt.published_at.present? %>
                </p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="flex flex-col w-full">
    <div class="pb-4 mb-4 border-b border-gray-200">
      <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
        <h3 class="ml-2 mt-2 text-xl leading-6 font-medium text-gray-900">Active Sessions</h3>
      </div>
    </div>

    <div>
      <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
              <table class="w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="py-2 pl-4 pr-2 text-left text-sm font-medium uppercase tracking-wide text-gray-500">User Agent</th>
                    <th scope="col" class="px-2 py-2 text-left text-sm font-medium uppercase tracking-wide text-gray-500">IP Address</th>
                    <th scope="col" class="px-2 py-2 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Created</th>
                    <th scope="col" class="relative py-3 pl-2 pr-2 sm:pr-6">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  <%= render @active_sessions %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>