<!DOCTYPE html>
<html>
  <head>
    <title>Writeabout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@matthewlang">
    <meta name="twitter:title" content="Writeabout">
    <meta name="twitter:description" content="A random writing prompt generator.">
    <meta name="twitter:image" content="<%= image_url('writeabout-twitter-card.png') %>">

    <link rel="apple-touch-icon" href="<%= image_url('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_url('favicon.png') %>">

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  </head>

  <body class="light flex flex-col h-screen relative">
    <header class="w-full h-32 text-center p-8">
      <h1 class="text-5xl font-bold">Writeabout</h1>
      <h4 class="text-2xl">A random writing prompt generator</h3>
    </header>

    <main class="flex-grow flex items-center w-full text-center mx-auto">
      <%= yield %>
    </main>

    <footer class="absolute bottom-0 w-full p-8 text-center">
      <div data-controller="theme">
        <button id="switch-theme" data-target="theme.button" data-action="theme#switch" class="btn p-4">Switch theme</button>
      </div>

      <p>Writeabout is a <%= link_to 'Ruby on Rails', 'https://www.rubyonrails.org', class: 'hover:underline' %> application by <%= link_to 'Matthew Lang', 'https://www.matthewlang.net', class: 'hover:underline' %> &bull; Source code available on <%= link_to 'GitHub', 'https://github.com/matthewl/Writeabout', class: 'hover:underline' %></p>
    </footer>
  </body>

  <!-- Fathom - simple website analytics - https://usefathom.com -->
  <script>
    (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
      };
      
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    
    fathom('set', 'siteId', '<%= ENV['FATHOM_SITE_ID'] %>');
    fathom('trackPageview');
  </script>
  <!-- / Fathom -->
</html>
