<!DOCTYPE html>
<html>
  <head>
    <title>Writeabout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@matthewlang">
    <meta name="twitter:title" content="Writeabout">
    <meta name="twitter:description" content="A random writing prompt generator.">
    <meta name="twitter:image" content="<%= image_path('writeabout-twitter-card.png') %>">

    <link rel="apple-touch-icon" href="<%= image_path('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_path('favicon.png') %>">

    <%= auto_discovery_link_tag(:rss, "https://www.writeabout.page/feed", { title: "Prompts feed" }) %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.usefathom.com/script.js" data-site="<%= ENV['FATHOM_SITE_ID'] %>" defer></script>
  </head>

  <body class="flex flex-col h-screen bg-slate-50 dark:bg-slate-800">
    <header class="flex flex-col w-full p-2 space-y-1 text-center md:p-4 lg:p-8 md:space-y-2 lg:space-y-3 text-slate-800 dark:text-slate-50">
      <h1 class="text-xl font-bold md:text-3xl lg:text-5xl">Writeabout</h1>
      <h2 class="text-sm md:text-base lg:text-xl">A random writing prompt generator</h2>
    </header>

    <main class="flex items-center flex-grow w-full mx-auto text-center">
      <%= yield %>
    </main>

    <footer class="w-3/4 p-2 mx-auto space-y-1 text-sm md:w-full md:p-4 lg:p-8 md:text-base">
      <div data-controller="theme" class="flex justify-center w-full mx-auto my-4 space-x-2 md:space-x-4 lg:space-x-6">
        <button class="text-yellow-500" data-theme-target="light" data-action="theme#switchToLight">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </button>

        <button class="text-blue-500" data-theme-target="dark" data-action="theme#switchToDark">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
          </svg>
        </button>

        <button class="text-slate-800 dark:text-slate-50" data-theme-target="system" data-action="theme#switchToSystem">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 md:w-6 md:h-6 lg:w-8 lg:h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
        </button>
      </div>

      <div class="space-y-1 text-xs md:text-sm lg:text-base">
        <p class="text-center text-slate-800 dark:text-slate-50">Writeabout is a <%= link_to 'Ruby on Rails', 'https://www.rubyonrails.org', class: 'hover:underline' %> application by <%= link_to 'Matthew Lang', 'https://matthewlang.me', class: 'hover:underline' %></p>
        <p class="text-center text-slate-800 dark:text-slate-50">Source code available on <%= link_to 'GitHub', 'https://github.com/matthewl/Writeabout', class: 'hover:underline' %></p>
      </div>
    </footer>
  </body>
</html>
