<!DOCTYPE html>
<html>
  <head>
    <title>Writeabout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@matthewlang">
    <meta name="twitter:title" content="Writeabout">
    <meta name="twitter:description" content="A random writing prompt generator.">
    <meta name="twitter:image" content="<%= image_url('writeabout-twitter-card.png') %>">

    <link rel="apple-touch-icon" href="<%= image_url('apple-touch-icon.png') %>">
    <link rel="icon" href="<%= image_url('favicon.png') %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body class="light text-center">
    <div class="cover-container d-flex w-100 h-100 py-3 mx-auto flex-column">
      <header class="masthead mb-auto justify-content-center">
        <div class="inner">
          <h1 class="masthead-brand mb-3">Writeabout</h1>
          <h4 class="masthead-subtitle">A random writing prompt generator</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <div data-controller="theme">
            <button id="switch-theme" data-action="theme#switch" class="btn btn-link">Switch theme</button>
          </div>
          <p>Writeabout is a little web application by <%= link_to 'Matthew Lang', 'https://www.matthewlang.net' %>.</p>
        </div>
      </footer>
    </div>
    
  </body>

  <!-- Fathom - simple website analytics - https://usefathom.com -->
  <script>
    (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
      };
      
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    
    fathom('set', 'siteId', '<%= ENV['FATHOM_SITE_ID'] %>');
    fathom('trackPageview');
  </script>
  <!-- / Fathom -->
</html>
